/* body {
    display: flex;
} */

.project {
    display: flex; 
    align-items: center;
    /* flex-direction: column;  */
    /* justify-content: space-between; */
    border: 10px solid white; 
    border-radius: 1rem;
    
    margin: 10px;
p {
    position: relative;
    margin: 50px;
    /* padding-left: 50px;    
    padding-right: 50px; */
    width: 60%;
}
}

.screenshot {
        /* float: right; */
        /* margin: 0px 0px 15px 15px; */
        margin: 1rem;
        width: 40%;
        border-radius: 1rem;
        position: relative;

    }



h1 {
    text-align: center;
}

.link {
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: x-large;

}