body{
    display: flex;
}

li {
    list-style: none;
}

.brand {
    display: block;
    /* width: 60%; */
    /* text-align: center;  */
    margin: auto;
    height: auto;
    width: 40%;
}

.header {
    /* display: flex;
    height: fit-content; */
    /* flex-direction: column; */
}

.who {
    /* display: flex; */
    /* margin: auto; */
    /* flex-direction: column; */
    /* margin: 10px; */
    /* width: fit-content; */
    /* border: 1px solid #274472; */
}

.headshot {
   /* margin: 20px; */
   /* padding-left: 50px; */

}

.social {
    height: 50px;
    width: 50px;
}